html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #505050;
  font-family: "latoregular";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  /* background-color: aquamarine; */
  /* height: 150px; */
}
.main {
  display: flex;
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
.footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
h1,
.header-title {
  font-size: 200px;
  line-height: 227px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: "georgia";
}
h2,
title {
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #4e5665;
  margin-bottom: 22px;
  text-align: center;
}
h3,
matherial-title {
  font-family: "georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  color: #4e5665;
  margin-bottom: 20px;
}
h4 {
  font-family: "latobold";
  font-style: normal;
  font-size: 15px;
  color: #4e5665;
  padding-bottom: 15px;
}
/* conteiner =================== */
.conteiner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  /* border: 1px solid hsl(350, 92%, 46%); */
}
.conteiner-content {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}
/* ================== */
.header-top {
  background-image: url(../images/bg-photo.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  font-family: "georgia";
}
.header-top__frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid #ecb84c;
  border-bottom: none;
  color: #fff;
}
.header-title {
  margin: auto;
}
.header-text {
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  /* заборона перенесення тексту */
  white-space: nowrap;
  align-items: center;
  margin-bottom: -12px;
  font-family: "georgia";
  font-size: 24px;
  line-height: 27px;
}
.header-text::after,
.header-text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}
.header-text::after {
  margin-left: 30px;
}
.header-text::before {
  margin-right: 30px;
}
/* menu------------ */
.menu {
  border-bottom: 1px solid rgba(208, 221, 216, 0.5);
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list__item {
  padding: 24px 10px 20px;
  margin: 0 6px;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
.menu-list__item:hover {
  color: #4e5665;
  border-bottom: 4px solid #ecb84c;
}
/* reason------------------------------- */
.reason {
  text-align: center;
  margin-top: 80px;
}
/* лінія після секції (повторюється) */
.line::after {
  content: "";
  border-bottom: 1px solid rgba(208, 221, 216, 0.5);
}
.reason-title {
  margin: 83px 0 22px;
  text-align: center;
}
.reason-text {
  text-align: left;
}
.reason-link {
  display: flex;
  justify-content: end;
  color: #ecb84c;
}
.reason-link i {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 10px;
  padding-left: 2px;
  color: #ecb84c;
}
.reason-statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 64px 0 81px;
}
.reason-statistics-item {
  text-align: center;
}
.reason-statistics-images {
  margin-bottom: 32px;
}
.reason-statistics-num {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #4e5665;
}
/* discription----------- */
.description h2 {
  margin: 80px 0 10px;
  text-align: center;
}
/* matherial------------- */
.matherial {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 64px;
}
.matherial-items {
  padding: 70px 0;
  background-position: right;
  background-repeat: no-repeat;
}
.matherial-text {
  position: relative;
  max-width: 470px;
  max-height: 289px;
  padding: 33px 40px 33px;
  background-color: #fff;
}
.matherial-text::before,
.matherial-text::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
}
.matherial-text::before {
  border-left: 2px solid #ecb84c;
  border-top: 2px solid #ecb84c;
  top: 19px;
  left: 19px;
}
.matherial-text::after {
  border-right: 2px solid #ecb84c;
  border-bottom: 2px solid #ecb84c;
  right: 19px;
  bottom: 19px;
} /*
перенесення картинки та тексту в протележний напрямок по всіх парних елементах
} */
.matherial-items:nth-child(even) {
  background-position: left;
  margin-top: 101px;
}
.matherial-items:nth-child(even) .matherial-text {
  margin-left: auto;
}
.matherial-items:nth-child(even) .matherial-text::before {
  border-right: 2px solid #ecb84c;
  /* border-top: 2px solid #ecb84c; */
  border-left: none;
  left: auto;
  right: 19px;
}
.matherial-items:nth-child(even) .matherial-text::after {
  border-left: 2px solid #ecb84c;
  /* border-bottom: 2px solid #ecb84c; */
  border-right: none;
  left: 19px;
}
/* caddilack -------------------------------*/
.car {
  margin-top: 121px;
  border-bottom: 1px solid rgba(208, 221, 216, 0.5);
}
.complit_car {
  display: flex;
  flex-direction: column;
  margin-top: 111px;
  max-height: min-content;
  min-height: 381px;
}
.complit_car-body {
  max-width: 1170px;
  position: relative;
}
/* дорога-------------- */
.complit_car-body::after {
  content: "";
  position: absolute;
  background-image: url(../images/Car-shadow.png);
  width: 1170px;
  height: 8px;
  left: 0;
  bottom: 0;
  /* transform: translate(0px, -150px); */
}
/* позиціювання крапок опису на авто */
.complit_car-dot {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 184, 76, 0.75);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  /* z-index: 1; */
}
.complit_car-dot::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffd600;
  border-radius: 50%;
  cursor: pointer;
  /* z-index: 2; */
}
/* опис при наведені --------- */
.complit_car-description {
  position: absolute;
  transform: translate(775px, -20px);
  opacity: 0;
  cursor: pointer;
  transition: 0.3s all;
}
.complit_car-description:hover {
  opacity: 1;
}
/* =========================== */
.dot-1 {
  transform: translate(150px, -211px);
}
.dot-1:hover {
  content: "";
  background-color: aqua;
}
.dot-2 {
  transform: translate(495px, -242px);
}
.dot-3 {
  transform: translate(765px, -319px);
}
.dot-4 {
  transform: translate(837px, -149px);
}

/* //------------------------------ */
.complit_car-text {
  margin-bottom: 81px;
}
/* foto --------------------------- */
.photo {
  margin-top: 80px;
}
.photo-text {
  position: relative;
  padding-bottom: 48px;
  margin-bottom: 56px;
}
.photo-text::after {
  content: "";
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: rgba(208, 221, 216, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* slider -------------------------- */
.photo-slider {
  max-width: 640px;
  margin: 0 auto;
}
/* через інспектор виясняємо, що в кнопках слайдера є спільний клас slick-arow, тому модифікуємо його під свої потреби */
.slick-arrow {
  position: absolute;
  top: 50%;
  /*   transform: translateY(-50%) задає можливість підняти елемент на половину своєї висоти, так як    top: 50% опускає не на середину картинки, а не середину + вся висота елемента кнопки*/
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
  background-color: #ecb84c;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
}
.slick-prev {
  left: -20px;
}
.slick-next {
  right: -20px;
}
/* footer=========================== */
.footer {
  background-color: #f8f8f8;
  border-top: 1px solid #d4d6d8;
  margin-top: 80px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "latoregular";
  font-size: 14px;
  line-height: 19px;
  color: #505050;
  margin-top: 56px;
  padding: 0 100px;
}
.footer-items li {
  padding-bottom: 8px;
  left: 0;
  transition: 0.25s all;
}
.footer-items li:hover {
  color: #d86140;
}
.items__head {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 2.4rem;
}
#messenger::before {
  content: url(../images/interface.png);
  padding-right: 10px;
}
#facebook::before {
  content: url(../images/Shape.png);
  padding-right: 10px;
}
#instagram::before {
  content: url(../images/instagram-logo.png);
  padding-right: 10px;
}
#youtube::before {
  content: url(../images/youtube.png);
  padding-right: 10px;
}
#email::before {
  content: url(../images/email.png);
  padding-right: 10px;
}
.copyright {
  text-align: center;
  margin: 40px 0 32px 0;
}
